<div class="bg-color p-5">
  <h2 class="text-center">Todos los productos que podes comprar hoy!</h2>
  <div *ngIf="products?.length;else message" class="row row-cols-1 row-cols-md-2 my-5 justify-content-center">
    <div *ngFor="let product of products" class="card card-w mx-2">
      <img
        src="{{ product.url }}"
        class="card-img-top img-size p-3"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-title">Precio: {{ product.price | currency: "$" }}</p>
        <a class="btn btn-primary">Sumar al carrito</a>
      </div>
    </div>
  </div>
  <ng-template #message>
    <div  class="alert alert-danger mt-3" role="alert">
        No hay productos para mostrar!
       </div>
  </ng-template>
  
</div>
