<div class="container mt-5 w-50 bg-color p-5">
  <h1>Registro de Usuario</h1>
  <form [formGroup]="form">
    <div class="mb-3 ">
      <label for="nombre" class="form-label">Indica tu nombre</label>
      <input type="text" class="form-control" name="nombre" formControlName="name" />
    </div>
    <div class="mb-3 ">
      <label for="nombre" class="form-label">Indica el mail de tu cuenta</label>
      <input type="email" class="form-control" name="email"formControlName="email" />
    </div>
    <div class="mb-3 ">
      <label for="nombre" class="form-label">Elegí una contraseña</label>
      <input type="password" class="form-control" name="password" formControlName="password" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="createUser()">
      Crear cuenta
    </button>
  </form>
  <button class="btn btn-secondary mt-3" (click)="goToLogin()" >
    Volver al Login
  </button>
</div>
